/****************************/
/*resets and global styling */
/****************************/
/* reset info at http://cssreset.com/scripts/eric-meyer-reset-css/ */
html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #ffffff;
    font-family: Tahoma, sans-serif;
    font-size: 100%;
}

h2 {
    font-family: Book Antiqua, serif;
}

.byline {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 100%;
}

/* code adapted from http://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
.anchor {
    display: block;
    position: relative;
    top: -7em;
    visibility: hidden;
}

.image_box > img {
    display: block;
    margin: auto;
    vertical-align: middle;
    width: 75%;
    height: auto;
}

.caption {
    font-family: Palatino, serif;
    text-align: center;
    width: 100%;
}

table {
    border-collapse:collapse;
    border-spacing: 0;
    font-family: Palatino, serif;
    margin: 0px auto;
    margin-top: 1.5em;
}

tr td:first-child {
    padding-right: 2em;
}

tr td:not(:first-child) {
    border-bottom: solid 1px #C71585;
    padding-right: 3em;
    padding-left: 3em;
    text-align: center;
}

th {
    border-bottom: solid 3px #C71585;
}

td {
    padding: 0.5em;
}

caption {
    caption-side: bottom;
    /* font-size: 1.25em; */
    margin-top: 1em;
}

/**********************/
/* styling by section */
/**********************/

#top {
    background-color: #ffffff;
    height: 7em;
    position: fixed;
    top: 0px;
    width: 100%;
}

#banner {
    background-color: #EE82EE;
    color: #ffffff;
    height: 4.1em;
    width: 100%;
}

h1 > img {
    float: right;
    margin-left: 0.25em;
    vertical-align: baseline;
}

#banner > h1 {
    /* border: solid 1px white; */
    font-family: Tahoma, sans-serif;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 960px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#global_nav {
    background-color: #ffffff;
    border-bottom: solid 2px #DA70D6;
    font-family: Book Antiqua, serif;
    height: 2em;
    margin-top: 0.5em;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    max-width: 960px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#global_nav a:link {
    color: #800080;
}

#global_nav a:hover {
    color: #DDA0DD;
}

.nav_span {
    margin-right: 2em;
}

.nav_span a {
    text-decoration: none;
}

#container {
    width: 100%;
}

#content {
    margin-top: 9em;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

#first_col {
    display: inline-block;
    width: 68%;
}

#first_col > h1 {
    margin-bottom: 0;
}

#first_col > h2 {
    margin-top: 2em;
    margin-bottom: 0;
}

#first_col > p {
    margin-top: 0;
}

#second_col {
    float: right;
    margin-top: 1.5em;
    margin-right: 0.3em;
    width: 25%;
}

#second_col > h2 {
    margin-top: 2em;
    margin-bottom: 0;
}